.wrapper {
  height: 100%;
  width: 15rem;
  background-color: var(--layer-one);
  display: flex;
  flex-direction: column;
  transition: .3s;
  overflow: hidden;

  .folder_header {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--layer-two);
    max-height: 40px;
    min-height: 40px;
    overflow: hidden;
    h1 {
      font-size: 0.8rem;
      color: var(--font-pr);
      font-weight: 300;
    }
    .open_folder_wrapper {
      cursor: pointer;
      background-color: var(--layer-one);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      border-radius: 5px;
      img {
        width: 15px;
      }
    }
  }

  .folder_view {
    flex: 1;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
