.wrapper {
  background-color: var(--layer-zero);
  width: 95%;
  padding: 10px;
  margin-left: 2.5%;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  &:hover span {
    width: 100%;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--layer-two);
    border-radius: 5px;
    width: 0%;
    transition: 0.3s;
  }

  img {
    width: 25px;
    height: 25px;
    z-index: 3;
  }

  h1 {
    z-index: 3;
    font-size: 0.8rem;
    color: var(--font-pr);
    font-weight: 300;
    margin-left: 5px;
  }
}
